<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="inertial_box" params="m x y z">
        <inertial>
            <mass value="${m}"/>
            <inertia ixx="${m * (y * y + z * z) / 12}" ixy="0" ixz="0" iyy="${m * (x * x + z * z) / 12}" iyz="0" izz="${m * (x * x + y * y) / 12}"/>
        </inertial>
    </xacro:macro>
    
    <xacro:macro name="inertial_cylinder" params="m r l">
        <inertial>
            <mass value="${m}"/>
            <inertia ixx="${m * r * r / 2}" ixy="0" ixz="0" iyy="${m * r * r / 4 + m * l * l / 12}" iyz="0" izz="${m * r * r / 4 + m * l * l / 12}"/>
        </inertial>
    </xacro:macro>

</robot>