<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mahasura">

   <xacro:include filename="inertial.xacro" />

   <xacro:arg name="sim" default="true" />
   <xacro:arg name="density" default="1000" />

   <xacro:property name="frame_mass" value="10" />
   <xacro:property name="frame_x" value="0.6" />
   <xacro:property name="frame_y" value="0.4" />
   <xacro:property name="frame_z" value="0.2" />

   <xacro:property name="collision_x" value="${frame_x}" />
   <xacro:property name="collision_y" value="${frame_y}" />
   <xacro:property name="collision_z"
      value="${(chassis_mass + 0.05) / (collision_x * collision_y * density)}" />

   <link name="base_link" />

   <link name="frame">
      <visual>
         <geometry>
            <box size="${frame_x} ${frame_y} ${frame_z}" />
         </geometry>
         <collision>
            <geometry>
               <box size="${collision_x} ${collision_y} ${collision_z}" />
            </geometry>
         </collision>
         <xacro:inertal_box m="${frame_mass}" x="${collision_x}" y="${collision_y}"
            z="${collision_z}" />
      </visual>
   </link>

   <joint name="base_link_frame_joint" type="fixed">
      <parent link="parent_link" />
      <child link="child_link" />
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
   </joint>


</robot>