<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mahasura">

   <xacro:include filename="inertial.xacro" />

   <xacro:macro name="thruster" params="prefix mass radius length thrust_coef density *origin">

      <link name="${prefix}_thruster_link">
         <visual>
            <geometry>
               <cylinder radius="${radius}" length="${length}" />
            </geometry>
         </visual>
         <collision>
            <geometry>
               <cylinder radius="${radius}" length="${length}" />
            </geometry>
         </collision>
         <xacro:inertial_cylinder m="${mass}" r="${radius}" l="${length}" />
      </link>

   </xacro:macro>

</robot>